/*         
CSS Selector = hva skal vi endre? header
CSS Declaration = blokken hvor koden finnes, og som forteller oss hva vi skal endre og hvordan. display: flex
CSS Rule =  hva og hvordan skal ting endres property: value; display: flex;
*/

body {
	font-family: "Palatino Linotype";
}

img {
  width: 350px;
  height: auto;
  display: block;
  margin: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}